.MusicContainer{
    width:100%;
    border: 1px solid black;
    height: 88%;
    background-color: #E7F4FD;
}

.List{
    list-style: none;
}

.Item{
    /* border:1px solid black; */
    padding: 8px 0px;
    padding-left: 3px;
}