.Container{
    width:50%;
    /* border: 1px solid black; */
    height: 88%;
    background-color: #E7F4FD;
}


h3{
    text-align: center;
    margin-bottom: 5px;
}

.List{
    list-style: none;
    
}

.Item{
    /* border:1px solid black; */
    padding: 5px 0 7.4px 2px;
    padding-left: 2px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
}


.right{
    font-size: 9px;
}
