.WallpaperContainer{
    height: 88%;
    width: 50%;
    background-color: #E7F4FD;
}
.List{
    list-style: none;
}
.Item{
    /* border:1px solid black; */
    padding: 8px 0px;
    padding-left: 3px;
    font-size: small;
}